<div id="section-cta">
  <div class="container grid text-center">
    <h3> {{ section.settings.text-box }} </h3>
    <a href="{{ section.settings.link }}" var="btn-large" class="btn btn--cta var " style="border-radius:4px; margin-bottom: 10px;">{{ section.settings.linktext }}</a>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Button",
    "fr": "Boutton"
  },
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Button",
      "category": "Cours IIM"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}