<div id="section-cta">
  <div class="grid text-center">
    <img src="{{ section.settings.image | img_url: '1000x'}}">
    <ul style="display: flex; justify-content: space-evenly;">
      {% for link in linklists[section.settings.menu].links %}
          <li style="display: block; font-size: 1em; margin: 5px;">
              <a style="color: #000;" href="{{ link.url }}">{{ link.title }}</a>
          </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Menu List",
    "fr": "Liste Menu"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
      "en": "Image",
      "fr": "Image"
      }
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu Type"
    }
  ],
  "presets": [
    {
      "name": "Menu List",
      "category": "Cours IIM"
    }
  ]
}
{% endschema %}